.circle{
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    z-index: 2;
}
.cover_circle{
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    width: 530px;
    height: 530px;
    z-index: 3;
    .point{
        height: 6px;
        width: 6px;
        background: rgba(66, 86, 122, 1);
        color: rgba(66, 86, 122, 1);
        border: 1px solid rgba(66, 86, 122, 0.2);
        border-radius: 30px;
        position: absolute;
        transform: translate(-50%, -50%);
        font-size: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        &::after{
            content: attr(data-title);
            font-size: 20px;
            color: rgba(66, 86, 122, 1);
            line-height: 30px;
            font-weight: 400;
            position: absolute;
            right: 0;
            transform: translateX(150%);
        }
        &::before{
            content: '';
            background-color: transparent;
            height: 60px;
            width: 60px;
            position: absolute;
        }
    }
}

@media (max-width: 680px) {
    .circle{
        display: none;
    }
    .cover_circle{
        display: none;
        .point{
            display: none;
        }
    }
}